@value makerGrey500, makerGrey50 from '../../common/colors.css';

.container {
  display: flex;
  height: 100vh;
}

.arrow {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.2em;
  height: 1.2em;
  color: makerGrey600;
  cursor: pointer;
  z-index: 5;
  transition: all 300ms ease-in;
}
.arrow:hover {
  transform: scale(1.1);
}
.arrow.close:hover {
  transform: scale(1.1) rotate(-180deg);
}
.arrow.close {
  transform: rotate(-180deg);
  right: -2.8em;
  color: white;
}
.maker.invisible {
  width: 0;
}

.maker {
  position: relative;
  width: 30em;
  height: 100%;
  transition: all 300ms ease-in;
}
.diary {
  min-height: 700px;
  width: 70%;
  height: 90%;
  margin: auto;
  overflow-x: hidden;
  max-width: 60em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
