@value makerGrey600,makerGrey500,makerGrey400,makerGrey100, makerGrey50 from '../../../common/colors.css';

input[type='radio'] {
  display: none;
}
label {
  cursor: pointer;
  margin: 0.3em;
}
.weatherIcon:hover {
  transform: scale(1.1);
}
.weatherIcon {
  transition: all 200ms ease-in;
  color: makerGrey100;
  font-size: 1.2em;
}
input[type='radio']:checked + label .weatherIcon {
  color: makerGrey500;
}
