@value makerGrey500, makerGrey50 from '../../../common/colors.css';

.calendar {
  padding: 5em 0;
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: 'Gowun Batang', serif;
}
.calendar_mark {
  display: flex;
  justify-content: center;
}
.month {
  font-size: 2em;
  margin: 0 1em;
}
.button {
  font-size: 0.8em;
  cursor: pointer;
}
