@value makerGrey500,makerGrey400,makerGrey100, makerGrey50 from '../../common/colors.css';

.diary {
  overflow-y: scroll;
  overflow-x: hidden;
}
.diary::-webkit-scrollbar {
  display: none;
}
.diary.stop {
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-between;
}
.info {
  margin-top: 4em;
  display: flex;
  align-items: center;
}
.date {
  font-size: 1.3rem;
  font-weight: 500;
  /* font-family: 'Ibarra Real Nova', serif; */
  font-family: 'Gowun Batang', serif;
  color: makerGrey500;
}
.icon {
  padding-left: 1em;
  font-size: 0.8em;
  color: makerGrey500;
}
.place {
  padding-left: 0.2em;
  font-size: 0.8rem;
  color: makerGrey500;
}
.title {
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 1.3em;
  color: makerGrey500;
}
.weather {
  margin: 2em 1em;
  font-size: 1.7rem;
  color: makerGrey500;
  transition: all 300ms linear;
}
.weather:hover {
  transform: scale(1.2) rotate(5deg);
}
