@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Ibarra+Real+Nova:wght@500;600&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'GmarketSansMedium';
  /* overflow: hidden; */
  height: 100%;
  background: url('/public/images/backgroundImg.jpg') center/cover no-repeat;
}
input {
  font-family: 'GmarketSansMedium';
}
textarea {
  font-family: 'GmarketSansMedium';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-family: 'GmarketSansMedium';
}

ul {
  list-style: none;
}
